body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AAD7D9;
}

.container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-family: 'Bungee', sans-serif;
    text-align: center;
    color: #333;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-task {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#add-task-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-task-btn:hover {
    background-color: #45a049;
}

#result {
    list-style-type: none;
    padding: 0;
    width: 100%;
    word-wrap: break-word; /* Added to break long words */
    overflow-wrap: break-word; /* Added to break long words */
    overflow: auto; /* Added to allow scrolling if content overflows */
}

ul {
    color: #BF3131;
    text-align: center;
}

li {
    color: #212121;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #f9f9f9;
}


li {
    color: #212121;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Added for positioning cross button */
}

li:hover {
    background-color: #f9f9f9;
}

.cross-btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #ff0000;
}

.cross-btn:hover {
    color: #cc0000;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
    }
}
