body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background-color: #EEF5FF;
}

label{
   color: #191919;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:placeholder-shown{
   font-weight: 200;
   font-variant: small-caps;
}

input{
    width: 300px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

button{
   
    border-radius: 15px;
    width: 150px;
    margin-top: 15px;
    padding: 15px;
} 

button:hover{
    background-color:#2B2A4C ;
    color: #EEF5FF;
    border-color: #2B2A4C;
}

p{
    display: inline-block;
}

 #result{
    border-style:dashed;
    border-radius: 5px;
    margin : 10px;
    margin-top: 50px;
    font-weight:bold ;
    font-size: xx-large;
    padding: 20px;
}
#result:hover{
    background-color:#2B2A4C ;
    color: #EEF5FF;
    border-color: #2B2A4C;
}

.weight-guide{
    border-radius: 5px;
    margin-top: 50px;
    border-style: groove;
}

.one ,.two, .three {
    padding: 0px;
    margin: 5px;
    margin-bottom: 10px;
}
 h3{
    color: #0b0563;
 }

 .head{
    height: 50%;
    width: 100%; /* You can set the width as a percentage or in pixels */
    margin: 0px;
    background-color: #2B2A4C;
    color: #fff;
    text-align: center;

 }

 .head p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    margin-bottom: 20px;
 }